html {
	background: #EEEEEE;
}

table,
td,
tr {
	border-collapse: collapse;
}

.boardcontainer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.board {
	display: block;
	border: 1px solid black;
}

.board .row:nth-of-type(even) .space:nth-of-type(even),
.board .row:nth-of-type(odd) .space:nth-of-type(odd) {
	background-color: peachpuff;
}

.board .row:nth-of-type(odd) .space:nth-of-type(even),
.board .row:nth-of-type(even) .space:nth-of-type(odd) {
	background-color: chocolate;
}

.board .row .space.active {
	background-color: olive !important;
}

.space {
	height: 75px;
	width: 75px;
	position: relative;
	cursor: pointer;
}

.space[data-piece]:not([data-piece=""]):before {
	content: "";
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 85%;
	height: 85%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}

.space[data-piece="K"]:before {
	background-image: url(/UI/resources/pieces/wking.svg);
}

.space[data-piece="Q"]:before {
	background-image: url(/UI/resources/pieces/wqueen.svg);
}

.space[data-piece="R"]:before {
	background-image: url(/UI/resources/pieces/wrook.svg);
}

.space[data-piece="B"]:before {
	background-image: url(/UI/resources/pieces/wbishop.svg);
}

.space[data-piece="N"]:before {
	background-image: url(/UI/resources/pieces/wknight.svg);
}

.space[data-piece="P"]:before {
	background-image: url(/UI/resources/pieces/wpawn.svg);
}

.space[data-piece="k"]:before {
	background-image: url(/UI/resources/pieces/bking.svg);
}

.space[data-piece="q"]:before {
	background-image: url(/UI/resources/pieces/bqueen.svg);
}

.space[data-piece="r"]:before {
	background-image: url(/UI/resources/pieces/brook.svg);
}

.space[data-piece="b"]:before {
	background-image: url(/UI/resources/pieces/bbishop.svg);
}

.space[data-piece="n"]:before {
	background-image: url(/UI/resources/pieces/bknight.svg);
}

.space[data-piece="p"]:before {
	background-image: url(/UI/resources/pieces/bpawn.svg);
}

/* SASS Code for below

@for $i from 0 through 100 {
	.space[data-probability="#{$i}"]:before {
		opacity: 0.1 + $i * 0.009;
	}

	.space[data-probability="#{$i}"]:after {
		opacity: 0.1 + $i * 0.009;
		content: "";
		height: 5%;
		display: block;
		position: absolute;
		bottom: 5%;
		right: 10%;
		left: 10%;
		background: linear-gradient(to right, #9dd53a 0%, #a1d54f percentage($i/100), transparent percentage($i/100), transparent 100%);
	}
}

*/

.space[data-probability="0"]:before {
	opacity: 0.1;
}

.space[data-probability="0"]:after {
	opacity: 0.1;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(0%, #a1d54f), color-stop(0%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 0%, transparent 0%, transparent 100%);
}

.space[data-probability="1"]:before {
	opacity: 0.109;
}

.space[data-probability="1"]:after {
	opacity: 0.109;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(1%, #a1d54f), color-stop(1%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 1%, transparent 1%, transparent 100%);
}

.space[data-probability="2"]:before {
	opacity: 0.118;
}

.space[data-probability="2"]:after {
	opacity: 0.118;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(2%, #a1d54f), color-stop(2%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 2%, transparent 2%, transparent 100%);
}

.space[data-probability="3"]:before {
	opacity: 0.127;
}

.space[data-probability="3"]:after {
	opacity: 0.127;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(3%, #a1d54f), color-stop(3%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 3%, transparent 3%, transparent 100%);
}

.space[data-probability="4"]:before {
	opacity: 0.136;
}

.space[data-probability="4"]:after {
	opacity: 0.136;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(4%, #a1d54f), color-stop(4%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 4%, transparent 4%, transparent 100%);
}

.space[data-probability="5"]:before {
	opacity: 0.145;
}

.space[data-probability="5"]:after {
	opacity: 0.145;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(5%, #a1d54f), color-stop(5%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 5%, transparent 5%, transparent 100%);
}

.space[data-probability="6"]:before {
	opacity: 0.154;
}

.space[data-probability="6"]:after {
	opacity: 0.154;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(6%, #a1d54f), color-stop(6%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 6%, transparent 6%, transparent 100%);
}

.space[data-probability="7"]:before {
	opacity: 0.163;
}

.space[data-probability="7"]:after {
	opacity: 0.163;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(7%, #a1d54f), color-stop(7%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 7%, transparent 7%, transparent 100%);
}

.space[data-probability="8"]:before {
	opacity: 0.172;
}

.space[data-probability="8"]:after {
	opacity: 0.172;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(8%, #a1d54f), color-stop(8%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 8%, transparent 8%, transparent 100%);
}

.space[data-probability="9"]:before {
	opacity: 0.181;
}

.space[data-probability="9"]:after {
	opacity: 0.181;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(9%, #a1d54f), color-stop(9%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 9%, transparent 9%, transparent 100%);
}

.space[data-probability="10"]:before {
	opacity: 0.19;
}

.space[data-probability="10"]:after {
	opacity: 0.19;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(10%, #a1d54f), color-stop(10%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 10%, transparent 10%, transparent 100%);
}

.space[data-probability="11"]:before {
	opacity: 0.199;
}

.space[data-probability="11"]:after {
	opacity: 0.199;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(11%, #a1d54f), color-stop(11%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 11%, transparent 11%, transparent 100%);
}

.space[data-probability="12"]:before {
	opacity: 0.208;
}

.space[data-probability="12"]:after {
	opacity: 0.208;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(12%, #a1d54f), color-stop(12%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 12%, transparent 12%, transparent 100%);
}

.space[data-probability="13"]:before {
	opacity: 0.217;
}

.space[data-probability="13"]:after {
	opacity: 0.217;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(13%, #a1d54f), color-stop(13%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 13%, transparent 13%, transparent 100%);
}

.space[data-probability="14"]:before {
	opacity: 0.226;
}

.space[data-probability="14"]:after {
	opacity: 0.226;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(14%, #a1d54f), color-stop(14%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 14%, transparent 14%, transparent 100%);
}

.space[data-probability="15"]:before {
	opacity: 0.235;
}

.space[data-probability="15"]:after {
	opacity: 0.235;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(15%, #a1d54f), color-stop(15%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 15%, transparent 15%, transparent 100%);
}

.space[data-probability="16"]:before {
	opacity: 0.244;
}

.space[data-probability="16"]:after {
	opacity: 0.244;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(16%, #a1d54f), color-stop(16%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 16%, transparent 16%, transparent 100%);
}

.space[data-probability="17"]:before {
	opacity: 0.253;
}

.space[data-probability="17"]:after {
	opacity: 0.253;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(17%, #a1d54f), color-stop(17%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 17%, transparent 17%, transparent 100%);
}

.space[data-probability="18"]:before {
	opacity: 0.262;
}

.space[data-probability="18"]:after {
	opacity: 0.262;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(18%, #a1d54f), color-stop(18%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 18%, transparent 18%, transparent 100%);
}

.space[data-probability="19"]:before {
	opacity: 0.271;
}

.space[data-probability="19"]:after {
	opacity: 0.271;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(19%, #a1d54f), color-stop(19%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 19%, transparent 19%, transparent 100%);
}

.space[data-probability="20"]:before {
	opacity: 0.28;
}

.space[data-probability="20"]:after {
	opacity: 0.28;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(20%, #a1d54f), color-stop(20%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 20%, transparent 20%, transparent 100%);
}

.space[data-probability="21"]:before {
	opacity: 0.289;
}

.space[data-probability="21"]:after {
	opacity: 0.289;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(21%, #a1d54f), color-stop(21%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 21%, transparent 21%, transparent 100%);
}

.space[data-probability="22"]:before {
	opacity: 0.298;
}

.space[data-probability="22"]:after {
	opacity: 0.298;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(22%, #a1d54f), color-stop(22%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 22%, transparent 22%, transparent 100%);
}

.space[data-probability="23"]:before {
	opacity: 0.307;
}

.space[data-probability="23"]:after {
	opacity: 0.307;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(23%, #a1d54f), color-stop(23%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 23%, transparent 23%, transparent 100%);
}

.space[data-probability="24"]:before {
	opacity: 0.316;
}

.space[data-probability="24"]:after {
	opacity: 0.316;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(24%, #a1d54f), color-stop(24%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 24%, transparent 24%, transparent 100%);
}

.space[data-probability="25"]:before {
	opacity: 0.325;
}

.space[data-probability="25"]:after {
	opacity: 0.325;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(25%, #a1d54f), color-stop(25%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 25%, transparent 25%, transparent 100%);
}

.space[data-probability="26"]:before {
	opacity: 0.334;
}

.space[data-probability="26"]:after {
	opacity: 0.334;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(26%, #a1d54f), color-stop(26%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 26%, transparent 26%, transparent 100%);
}

.space[data-probability="27"]:before {
	opacity: 0.343;
}

.space[data-probability="27"]:after {
	opacity: 0.343;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(27%, #a1d54f), color-stop(27%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 27%, transparent 27%, transparent 100%);
}

.space[data-probability="28"]:before {
	opacity: 0.352;
}

.space[data-probability="28"]:after {
	opacity: 0.352;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(28%, #a1d54f), color-stop(28%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 28%, transparent 28%, transparent 100%);
}

.space[data-probability="29"]:before {
	opacity: 0.361;
}

.space[data-probability="29"]:after {
	opacity: 0.361;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(29%, #a1d54f), color-stop(29%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 29%, transparent 29%, transparent 100%);
}

.space[data-probability="30"]:before {
	opacity: 0.37;
}

.space[data-probability="30"]:after {
	opacity: 0.37;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(30%, #a1d54f), color-stop(30%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 30%, transparent 30%, transparent 100%);
}

.space[data-probability="31"]:before {
	opacity: 0.379;
}

.space[data-probability="31"]:after {
	opacity: 0.379;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(31%, #a1d54f), color-stop(31%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 31%, transparent 31%, transparent 100%);
}

.space[data-probability="32"]:before {
	opacity: 0.388;
}

.space[data-probability="32"]:after {
	opacity: 0.388;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(32%, #a1d54f), color-stop(32%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 32%, transparent 32%, transparent 100%);
}

.space[data-probability="33"]:before {
	opacity: 0.397;
}

.space[data-probability="33"]:after {
	opacity: 0.397;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(33%, #a1d54f), color-stop(33%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 33%, transparent 33%, transparent 100%);
}

.space[data-probability="34"]:before {
	opacity: 0.406;
}

.space[data-probability="34"]:after {
	opacity: 0.406;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(34%, #a1d54f), color-stop(34%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 34%, transparent 34%, transparent 100%);
}

.space[data-probability="35"]:before {
	opacity: 0.415;
}

.space[data-probability="35"]:after {
	opacity: 0.415;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(35%, #a1d54f), color-stop(35%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 35%, transparent 35%, transparent 100%);
}

.space[data-probability="36"]:before {
	opacity: 0.424;
}

.space[data-probability="36"]:after {
	opacity: 0.424;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(36%, #a1d54f), color-stop(36%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 36%, transparent 36%, transparent 100%);
}

.space[data-probability="37"]:before {
	opacity: 0.433;
}

.space[data-probability="37"]:after {
	opacity: 0.433;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(37%, #a1d54f), color-stop(37%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 37%, transparent 37%, transparent 100%);
}

.space[data-probability="38"]:before {
	opacity: 0.442;
}

.space[data-probability="38"]:after {
	opacity: 0.442;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(38%, #a1d54f), color-stop(38%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 38%, transparent 38%, transparent 100%);
}

.space[data-probability="39"]:before {
	opacity: 0.451;
}

.space[data-probability="39"]:after {
	opacity: 0.451;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(39%, #a1d54f), color-stop(39%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 39%, transparent 39%, transparent 100%);
}

.space[data-probability="40"]:before {
	opacity: 0.46;
}

.space[data-probability="40"]:after {
	opacity: 0.46;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(40%, #a1d54f), color-stop(40%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 40%, transparent 40%, transparent 100%);
}

.space[data-probability="41"]:before {
	opacity: 0.469;
}

.space[data-probability="41"]:after {
	opacity: 0.469;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(41%, #a1d54f), color-stop(41%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 41%, transparent 41%, transparent 100%);
}

.space[data-probability="42"]:before {
	opacity: 0.478;
}

.space[data-probability="42"]:after {
	opacity: 0.478;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(42%, #a1d54f), color-stop(42%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 42%, transparent 42%, transparent 100%);
}

.space[data-probability="43"]:before {
	opacity: 0.487;
}

.space[data-probability="43"]:after {
	opacity: 0.487;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(43%, #a1d54f), color-stop(43%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 43%, transparent 43%, transparent 100%);
}

.space[data-probability="44"]:before {
	opacity: 0.496;
}

.space[data-probability="44"]:after {
	opacity: 0.496;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(44%, #a1d54f), color-stop(44%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 44%, transparent 44%, transparent 100%);
}

.space[data-probability="45"]:before {
	opacity: 0.505;
}

.space[data-probability="45"]:after {
	opacity: 0.505;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(45%, #a1d54f), color-stop(45%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 45%, transparent 45%, transparent 100%);
}

.space[data-probability="46"]:before {
	opacity: 0.514;
}

.space[data-probability="46"]:after {
	opacity: 0.514;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(46%, #a1d54f), color-stop(46%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 46%, transparent 46%, transparent 100%);
}

.space[data-probability="47"]:before {
	opacity: 0.523;
}

.space[data-probability="47"]:after {
	opacity: 0.523;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(47%, #a1d54f), color-stop(47%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 47%, transparent 47%, transparent 100%);
}

.space[data-probability="48"]:before {
	opacity: 0.532;
}

.space[data-probability="48"]:after {
	opacity: 0.532;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(48%, #a1d54f), color-stop(48%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 48%, transparent 48%, transparent 100%);
}

.space[data-probability="49"]:before {
	opacity: 0.541;
}

.space[data-probability="49"]:after {
	opacity: 0.541;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(49%, #a1d54f), color-stop(49%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 49%, transparent 49%, transparent 100%);
}

.space[data-probability="50"]:before {
	opacity: 0.55;
}

.space[data-probability="50"]:after {
	opacity: 0.55;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(50%, #a1d54f), color-stop(50%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 50%, transparent 50%, transparent 100%);
}

.space[data-probability="51"]:before {
	opacity: 0.559;
}

.space[data-probability="51"]:after {
	opacity: 0.559;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(51%, #a1d54f), color-stop(51%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 51%, transparent 51%, transparent 100%);
}

.space[data-probability="52"]:before {
	opacity: 0.568;
}

.space[data-probability="52"]:after {
	opacity: 0.568;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(52%, #a1d54f), color-stop(52%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 52%, transparent 52%, transparent 100%);
}

.space[data-probability="53"]:before {
	opacity: 0.577;
}

.space[data-probability="53"]:after {
	opacity: 0.577;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(53%, #a1d54f), color-stop(53%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 53%, transparent 53%, transparent 100%);
}

.space[data-probability="54"]:before {
	opacity: 0.586;
}

.space[data-probability="54"]:after {
	opacity: 0.586;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(54%, #a1d54f), color-stop(54%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 54%, transparent 54%, transparent 100%);
}

.space[data-probability="55"]:before {
	opacity: 0.595;
}

.space[data-probability="55"]:after {
	opacity: 0.595;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(55%, #a1d54f), color-stop(55%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 55%, transparent 55%, transparent 100%);
}

.space[data-probability="56"]:before {
	opacity: 0.604;
}

.space[data-probability="56"]:after {
	opacity: 0.604;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(56%, #a1d54f), color-stop(56%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 56%, transparent 56%, transparent 100%);
}

.space[data-probability="57"]:before {
	opacity: 0.613;
}

.space[data-probability="57"]:after {
	opacity: 0.613;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(57%, #a1d54f), color-stop(57%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 57%, transparent 57%, transparent 100%);
}

.space[data-probability="58"]:before {
	opacity: 0.622;
}

.space[data-probability="58"]:after {
	opacity: 0.622;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(58%, #a1d54f), color-stop(58%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 58%, transparent 58%, transparent 100%);
}

.space[data-probability="59"]:before {
	opacity: 0.631;
}

.space[data-probability="59"]:after {
	opacity: 0.631;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(59%, #a1d54f), color-stop(59%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 59%, transparent 59%, transparent 100%);
}

.space[data-probability="60"]:before {
	opacity: 0.64;
}

.space[data-probability="60"]:after {
	opacity: 0.64;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(60%, #a1d54f), color-stop(60%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 60%, transparent 60%, transparent 100%);
}

.space[data-probability="61"]:before {
	opacity: 0.649;
}

.space[data-probability="61"]:after {
	opacity: 0.649;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(61%, #a1d54f), color-stop(61%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 61%, transparent 61%, transparent 100%);
}

.space[data-probability="62"]:before {
	opacity: 0.658;
}

.space[data-probability="62"]:after {
	opacity: 0.658;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(62%, #a1d54f), color-stop(62%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 62%, transparent 62%, transparent 100%);
}

.space[data-probability="63"]:before {
	opacity: 0.667;
}

.space[data-probability="63"]:after {
	opacity: 0.667;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(63%, #a1d54f), color-stop(63%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 63%, transparent 63%, transparent 100%);
}

.space[data-probability="64"]:before {
	opacity: 0.676;
}

.space[data-probability="64"]:after {
	opacity: 0.676;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(64%, #a1d54f), color-stop(64%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 64%, transparent 64%, transparent 100%);
}

.space[data-probability="65"]:before {
	opacity: 0.685;
}

.space[data-probability="65"]:after {
	opacity: 0.685;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(65%, #a1d54f), color-stop(65%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 65%, transparent 65%, transparent 100%);
}

.space[data-probability="66"]:before {
	opacity: 0.694;
}

.space[data-probability="66"]:after {
	opacity: 0.694;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(66%, #a1d54f), color-stop(66%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 66%, transparent 66%, transparent 100%);
}

.space[data-probability="67"]:before {
	opacity: 0.703;
}

.space[data-probability="67"]:after {
	opacity: 0.703;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(67%, #a1d54f), color-stop(67%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 67%, transparent 67%, transparent 100%);
}

.space[data-probability="68"]:before {
	opacity: 0.712;
}

.space[data-probability="68"]:after {
	opacity: 0.712;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(68%, #a1d54f), color-stop(68%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 68%, transparent 68%, transparent 100%);
}

.space[data-probability="69"]:before {
	opacity: 0.721;
}

.space[data-probability="69"]:after {
	opacity: 0.721;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(69%, #a1d54f), color-stop(69%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 69%, transparent 69%, transparent 100%);
}

.space[data-probability="70"]:before {
	opacity: 0.73;
}

.space[data-probability="70"]:after {
	opacity: 0.73;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(70%, #a1d54f), color-stop(70%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 70%, transparent 70%, transparent 100%);
}

.space[data-probability="71"]:before {
	opacity: 0.739;
}

.space[data-probability="71"]:after {
	opacity: 0.739;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(71%, #a1d54f), color-stop(71%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 71%, transparent 71%, transparent 100%);
}

.space[data-probability="72"]:before {
	opacity: 0.748;
}

.space[data-probability="72"]:after {
	opacity: 0.748;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(72%, #a1d54f), color-stop(72%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 72%, transparent 72%, transparent 100%);
}

.space[data-probability="73"]:before {
	opacity: 0.757;
}

.space[data-probability="73"]:after {
	opacity: 0.757;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(73%, #a1d54f), color-stop(73%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 73%, transparent 73%, transparent 100%);
}

.space[data-probability="74"]:before {
	opacity: 0.766;
}

.space[data-probability="74"]:after {
	opacity: 0.766;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(74%, #a1d54f), color-stop(74%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 74%, transparent 74%, transparent 100%);
}

.space[data-probability="75"]:before {
	opacity: 0.775;
}

.space[data-probability="75"]:after {
	opacity: 0.775;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(75%, #a1d54f), color-stop(75%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 75%, transparent 75%, transparent 100%);
}

.space[data-probability="76"]:before {
	opacity: 0.784;
}

.space[data-probability="76"]:after {
	opacity: 0.784;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(76%, #a1d54f), color-stop(76%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 76%, transparent 76%, transparent 100%);
}

.space[data-probability="77"]:before {
	opacity: 0.793;
}

.space[data-probability="77"]:after {
	opacity: 0.793;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(77%, #a1d54f), color-stop(77%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 77%, transparent 77%, transparent 100%);
}

.space[data-probability="78"]:before {
	opacity: 0.802;
}

.space[data-probability="78"]:after {
	opacity: 0.802;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(78%, #a1d54f), color-stop(78%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 78%, transparent 78%, transparent 100%);
}

.space[data-probability="79"]:before {
	opacity: 0.811;
}

.space[data-probability="79"]:after {
	opacity: 0.811;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(79%, #a1d54f), color-stop(79%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 79%, transparent 79%, transparent 100%);
}

.space[data-probability="80"]:before {
	opacity: 0.82;
}

.space[data-probability="80"]:after {
	opacity: 0.82;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(80%, #a1d54f), color-stop(80%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 80%, transparent 80%, transparent 100%);
}

.space[data-probability="81"]:before {
	opacity: 0.829;
}

.space[data-probability="81"]:after {
	opacity: 0.829;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(81%, #a1d54f), color-stop(81%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 81%, transparent 81%, transparent 100%);
}

.space[data-probability="82"]:before {
	opacity: 0.838;
}

.space[data-probability="82"]:after {
	opacity: 0.838;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(82%, #a1d54f), color-stop(82%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 82%, transparent 82%, transparent 100%);
}

.space[data-probability="83"]:before {
	opacity: 0.847;
}

.space[data-probability="83"]:after {
	opacity: 0.847;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(83%, #a1d54f), color-stop(83%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 83%, transparent 83%, transparent 100%);
}

.space[data-probability="84"]:before {
	opacity: 0.856;
}

.space[data-probability="84"]:after {
	opacity: 0.856;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(84%, #a1d54f), color-stop(84%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 84%, transparent 84%, transparent 100%);
}

.space[data-probability="85"]:before {
	opacity: 0.865;
}

.space[data-probability="85"]:after {
	opacity: 0.865;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(85%, #a1d54f), color-stop(85%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 85%, transparent 85%, transparent 100%);
}

.space[data-probability="86"]:before {
	opacity: 0.874;
}

.space[data-probability="86"]:after {
	opacity: 0.874;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(86%, #a1d54f), color-stop(86%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 86%, transparent 86%, transparent 100%);
}

.space[data-probability="87"]:before {
	opacity: 0.883;
}

.space[data-probability="87"]:after {
	opacity: 0.883;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(87%, #a1d54f), color-stop(87%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 87%, transparent 87%, transparent 100%);
}

.space[data-probability="88"]:before {
	opacity: 0.892;
}

.space[data-probability="88"]:after {
	opacity: 0.892;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(88%, #a1d54f), color-stop(88%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 88%, transparent 88%, transparent 100%);
}

.space[data-probability="89"]:before {
	opacity: 0.901;
}

.space[data-probability="89"]:after {
	opacity: 0.901;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(89%, #a1d54f), color-stop(89%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 89%, transparent 89%, transparent 100%);
}

.space[data-probability="90"]:before {
	opacity: 0.91;
}

.space[data-probability="90"]:after {
	opacity: 0.91;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(90%, #a1d54f), color-stop(90%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 90%, transparent 90%, transparent 100%);
}

.space[data-probability="91"]:before {
	opacity: 0.919;
}

.space[data-probability="91"]:after {
	opacity: 0.919;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(91%, #a1d54f), color-stop(91%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 91%, transparent 91%, transparent 100%);
}

.space[data-probability="92"]:before {
	opacity: 0.928;
}

.space[data-probability="92"]:after {
	opacity: 0.928;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(92%, #a1d54f), color-stop(92%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 92%, transparent 92%, transparent 100%);
}

.space[data-probability="93"]:before {
	opacity: 0.937;
}

.space[data-probability="93"]:after {
	opacity: 0.937;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(93%, #a1d54f), color-stop(93%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 93%, transparent 93%, transparent 100%);
}

.space[data-probability="94"]:before {
	opacity: 0.946;
}

.space[data-probability="94"]:after {
	opacity: 0.946;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(94%, #a1d54f), color-stop(94%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 94%, transparent 94%, transparent 100%);
}

.space[data-probability="95"]:before {
	opacity: 0.955;
}

.space[data-probability="95"]:after {
	opacity: 0.955;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(95%, #a1d54f), color-stop(95%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 95%, transparent 95%, transparent 100%);
}

.space[data-probability="96"]:before {
	opacity: 0.964;
}

.space[data-probability="96"]:after {
	opacity: 0.964;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(96%, #a1d54f), color-stop(96%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 96%, transparent 96%, transparent 100%);
}

.space[data-probability="97"]:before {
	opacity: 0.973;
}

.space[data-probability="97"]:after {
	opacity: 0.973;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(97%, #a1d54f), color-stop(97%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 97%, transparent 97%, transparent 100%);
}

.space[data-probability="98"]:before {
	opacity: 0.982;
}

.space[data-probability="98"]:after {
	opacity: 0.982;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(98%, #a1d54f), color-stop(98%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 98%, transparent 98%, transparent 100%);
}

.space[data-probability="99"]:before {
	opacity: 0.991;
}

.space[data-probability="99"]:after {
	opacity: 0.991;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(99%, #a1d54f), color-stop(99%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 99%, transparent 99%, transparent 100%);
}

.space[data-probability="100"]:before {
	opacity: 1;
}

.space[data-probability="100"]:after {
	opacity: 1;
	content: "";
	height: 5%;
	display: block;
	position: absolute;
	bottom: 5%;
	right: 10%;
	left: 10%;
	background: -webkit-gradient(linear, left top, right top, from(#9dd53a), color-stop(100%, #a1d54f), color-stop(100%, transparent), to(transparent));
	background: linear-gradient(to right, #9dd53a 0%, #a1d54f 100%, transparent 100%, transparent 100%);
}
